torch==1.13.1+cu116 
torchvision==0.14.1+cu116 
torchaudio==0.13.1
langchain==0.0.146
unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
nltk
sentence-transformers
beautifulsoup4
icetk
faiss-cpu
protobuf
transformers==4.33.1
cpm_kernels
gradio
mdtex2html
sentencepiece
accelerate
sse-starlette
streamlit>=1.24.0
